<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>3DLab | Homepage</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">3D Lab of UIC</a>
      <ul class="right hide-on-med-and-down">
       <li><a href="login.html">Login</a></li>
        <li><a href="#/index.html">Home</a></li>
        <li><a href="#/about.html">About Us</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
       	<li><a href="/login.html">Login</a></li>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 
    <div class="carousel carousel-slider center" data-indicators="true">
		<div class="carousel-fixed-item center">
			<div class="container">
				<br><br><br><br>
				<h1 class="header center white-text text-lighten-2">3D Lab Tech</h1>
				<div class="row center">
				  <h5 class="header col s12 light white-text">Upload your images to generate 3d models</h5>
				</div>
				<div class="row center">
			  	<a href="" id="download-button" class="btn-large waves-effect waves-light #1565c0 blue darken-3">Upload picture now!</a>
				</div>
			</div>
			
		</div>
		<div class="carousel-item black-text" href="#one!" style="background: url(image/b3.jpg); background-size:100%;">
<!--
		  <h2>3D Lab finished the world modelling</h2>
		  <p class="white-text">It is a amazing news that everyone surprised</p>
-->
		</div>
		<div class="carousel-item black-text" href="#two!" style="background: url(image/b1.jpg); background-size:100%;">
<!--
		  <h2>3D Lab create a real robot!</h2>
		  <p class="white-text">Nobody even believe this!</p>
-->
		</div>
		<div class="carousel-item black-text" href="#two!" style="background: url(image/b2.jpg); background-size:100%;">
		</div>
<!--
		<div class="carousel-item green white-text" href="#three!">
		  <h2>第三面板</h2>
		  <p class="white-text">这是第三面板</p>
		</div>
		<div class="carousel-item blue white-text" href="#four!">
		  <h2>第四面板</h2>
		  <p class="white-text">这是第四面板</p>
-->
    </div>
 
  <div class="row center">
	<h3 class="text col s12 light light-blue-text" style="margin-top: 50px;">Our excellent 3D Model products:</h3>
  </div>
  <div class="carousel" style="height: 200px; margin-top: 50px; margin-bottom: -50px;">
    <a class="carousel-item" href="#one!"><img src="image/background1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="image/background2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="image/background3.jpg"></a>
  </div>
  
 

 
  <div class="container">
   <hr>
  <div class="row">
  	<h4 class="left-align grey-text text">
  		&nbsp;&nbsp;Other uploaded products:
  	</h4>
  </div>
  <div class="row">
        <div class="col s12 m4 l3">
          <div class="card">
            <div class="card-image">
              <img src="image/1.jpg">
            </div>
            <div class="card-content">
              <p>This is one of our 3D products</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text">Author:xxx</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m4 l3">
          <div class="card">
            <div class="card-image">
              <img src="image/2.jpg">
            </div>
            <div class="card-content">
              <p>This is one of our 3D products</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text">Author:xxx</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m4 l3">
          <div class="card">
            <div class="card-image">
              <img src="image/3.jpg">
            </div>
            <div class="card-content">
              <p>This is one of our 3D products</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text">Author:xxx</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m4 l3">
          <div class="card">
            <div class="card-image">
              <img src="image/4.jpg">
            </div>
            <div class="card-content">
              <p>This is one of our 3D products</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text">Author:xxx</a>
            </div>
          </div>
        </div>
	  </div>
      
  <div class="row">
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-image">
              <img src="image/6.jpg">
            </div>
            <div class="card-content">
              <p>This is one of our 3D products</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text">Author:xxx</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-image">
              <img src="image/5.jpg">
            </div>
            <div class="card-content">
              <p>This is one of our 3D products</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text">Author:xxx</a>
            </div>
          </div>
        </div>
  </div>
	  <div align="center">
			<ul class="pagination">
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			<li class="active"><a href="#!">1</a></li>
			<li class="waves-effect"><a href="#!">2</a></li>
			<li class="waves-effect"><a href="#!">3</a></li>
			<li class="waves-effect"><a href="#!">4</a></li>
			<li class="waves-effect"><a href="#!">5</a></li>
			<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		  </ul>
	  </div>
	  <hr>
	  <br><br>
  </div>
   
  
  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Design, progress and improvement.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="image/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>
  
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive 3D Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="image/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer #0d47a1 blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" name="contact">About us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="brown-text text-lighten-3" href="">@3DLab copyright</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
	<script src="js/init.js"></script>
  </body>
</html>
