<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>3DLab | Login</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">3D Lab of UIC</a>
      <ul class="right hide-on-med-and-down">
       <li><a href="/index.html">Login</a></li>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
       	<li><a href="/index.html">Login</a></li>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="login_contain container z-depth-5" style="margin:100px 100px; padding: 10px -20px;">
  	<h2 class="deep-orange-text">Login</h2>
 	<hr>
 	<p>Account:<input></p>
 	<p>Password:<input></p>
 	
  </div>
  <img src="image/login.jpg" style="background-size: 100%; opacity: 0.6; margin:0px">
  
  
  
  

    
  <footer class="page-footer #0d47a1 blue darken-3" style="margin:0px;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" name="contact">About us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact us</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="brown-text text-lighten-3" href="">@3DLab copyright</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
	<script src="js/init.js"></script>
  </body>
</html>
